.single_product_section{
    padding: 120px 20px;
    padding-bottom: 20px;
    .wrap_single_product_section{
        max-width: 1250px;
        width: 100%;
        margin: 0 auto;

        .breadcrumb_section{
                    margin-bottom: 15px;
                    display: none;
                    @media (max-width:767px) {
                        display: block;
                    }

                }
        .inner_container{
            display: flex;
            justify-content: center;
            gap: 20px;
            @media (max-width:767px) {
                flex-direction: column;
                
            }
            .left_col {
                width: 45%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 10px;
                overflow: hidden;
                
                
                @media (max-width:767px) {
                width: 100%;

                
                }
                .image{
                    width: 100%;
                    overflow: hidden;
                    @media (max-width:767px) {
                        width:  calc(33.33% - 10px);
                
                    }
                    @media (max-width:576px) {
                        width:  calc(50% - 5px);
                
                    }

                    @media (max-width:420px) {
                        width:  100%;
                
                    }

                    &:not(:first-child) {
                    width: calc(50% - 5px);
                    @media (max-width:767px) {
                        width:  calc(33.33% - 5px);
                        min-width: 130px;
                
                    }
                    @media (max-width:576px) {
                        width:  calc(50% - 5px);
                
                    }

                    @media (max-width:420px) {
                        width: calc(50% - 5px);
                
                    }

                    }

                }
                img {
                    width: 100%;

                    

                    &.zoom {
                    transition: transform 0.3s ease-in-out;
                    cursor: pointer;
                    
                    &:hover {
                        transform: scale(2);
                    }
                }
                }
                
                }

            .right_col{
                width: 55%;
                @media (max-width:767px) {
                        width: 100%;
                    }
                
                .breadcrumb_section{
                    display: block;
                    margin-bottom: 15px;
                    @media (max-width:767px) {
                        display: none;
                    }
                }
                .category{
                    color: rgba($color: #000000, $alpha: 0.61);
                    font-size: 15px;
                    margin-bottom: 15px;
                }
                .product_name{
                    font-size: 32px;
                    font-weight: 400;
                    margin-bottom: 15px;
                }
                .description{
                    font-size: 15px;
                    color: rgba($color: #000000, $alpha: 0.61);
                    margin-bottom: 20px;
                }
                .prices{
                    .variation{
                        display: none;
                        &.active{
                            display: block;
                        }
                        .price{
                            font-size: 24px;
                            font-weight: 700;
                            color: #c19a83;
                            display: flex;
                            gap: 10px;
                            .original_price{
                                opacity: 0.6;
                            }
                        }


                    }
                    
                }

            .available_color{
                display: flex;
                gap: 5px;
                span {
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    cursor: pointer;
                }

                div{
                    width: 30px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 15px;
                }

            .selected {
                    border: 1px solid #000;       
                    border-radius: 50%;
                }
          
            }

            .add_to_cart_form{
                display:flex;
                align-items: stretch;
                gap: 20px;
                border-top: 1px solid rgba($color: #000000, $alpha: 0.07);
                border-bottom: 1px solid rgba($color: #000000, $alpha: 0.07);
                padding: 20px 0;
                .quantity_control{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .decrease,.increase, input#quantity{
                    padding: 5px;
                    background: #fff;
                    color: #000000;
                    border: 1px solid rgba($color: #000000, $alpha: 0.07);
                    width:40px;
                    // width: 100%;
                    color: rgba($color: #000000, $alpha: 0.61);
                    cursor: pointer;
                    text-align: center;
                    height: 100%;
                    font-size: 15px;
                    
          

                }
                .decrease,.increase,.add_to_cart{
                    &:hover{
                        background-color: #c19a83;
                        color: #fff;
                    }
                }
                input#quantity{
                    padding-left: 10px;

                }
            }

            .add_to_cart{
                padding: 10px 20px;
                color: #fff;
                background-color: #000000;
                border: none;
                text-transform: uppercase;
                font-weight: 700;
                cursor: pointer;
            }

            .success-message{
                color: green;
                font-size: 12px;
                margin-top: 5px;
                // margin-bottom: 15px;
            }

            .payment_methods{
                .detail{
                    margin-top: 8px;
                    margin-bottom: 10px;
                    .sku, .category{
                        display: inline-block;
                        margin-right: 15px;
                        font-size: 15px;
                        font-weight: 500;
                        color: rgba($color: #000000, $alpha: 0.61);
                        .categry_name{
                            cursor: pointer;
                        }

                        &:hover{
                            .categry_name{
                                color: #c19a83;
                            }
                        }

                    }
                }
            }

            .gateways{
                border: 1px solid rgba($color: #000000, $alpha: 0.61);
                position: relative;
                
                .heading{
                        position: absolute;
                        top: -17px;
                        left: 50%;
                        transform: translateX(-50%);
                        padding: 0 8px;
                        margin-bottom: 0;
                        font-size: 24px;
                        font-weight: 600;
                        text-align: center;
                        color: rgba($color: #000000, $alpha: 0.61);
                        background-color: #fff;

                        width: fit-content;
                        min-width: 250px;
                        // @media (max-width:991px) {
                        //     font-size: 20px;
                        // }
                }
                .gateway_images{
                    padding: 13px 20px 18px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    margin: 20px 0;
                    margin-bottom: 15px;
                    svg{
                        max-width: 50px;
                    }
                }
            }

            .shipping{
                .sipping_title{
                    margin: 5px 0;
                    font-weight: 600;
                    color: rgba($color: #000000, $alpha: 0.61);
                    font-size: 18px;
                }
                .benefits{
                    list-style-type: none;
                    .benefit{
                        display: flex;
                        gap: 5px;
                        color: rgba($color: #000000, $alpha: 0.61);
                        font-size: 15px;
                        span{
                            max-width: 15px;
                            svg{
                                width: 100%;
                                fill: rgba($color: #000000, $alpha: 0.61);
                                
                            }
                        }
                    }
                }
            }


            }

    }
}
}