.products_section{
    padding: 120px 20px 20px 20px;
    .wrap_products{
        max-width: 1250px;
        width: 100%;
        margin: 0 auto;

        .inner_container{
            .content{
                
                .heading{
                    font-weight: 400;
                    font-size: 4.3333333333333rem;
                    line-height: 1.4em;
                    text-align: left;
                    margin-bottom: 40px;
                    
                }
    
                .details{
                    display: flex;
                    justify-content: flex-end;
                    select{
                        max-width: 200px;
                        width: 100%;
                        text-overflow: ellipsis;
                        padding: 5px;
                        color: #666;
                        border-color: #666;
                        border-radius: 10px;
                        font-size: 1rem;
                        // border: none;
                    }
                        
                }
            }

            .products{
                margin-top: 50px;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                width: 100%;
                gap: 20px;
                &::after{
                     content: "";
                    flex: 1 1 calc(33.33% - 20px); /* Acts as a placeholder */
                    max-width: calc(33.33% - 20px);
                }
                .product{
                    width: calc(33.33% - 20px);
                    @media (max-width:767px) {
                        width: calc(50% - 20px);
                    }
                    @media (max-width:476px) {
                        width: 100%;
                    }
                }
            }




        }
    }
}