.order_track{
    padding: 120px 20px;
    padding-bottom: 0;
    .wrap_order_track{
        max-width: 1250px;
        width: 100%;
        margin: 0 auto;

        .inner_container{
            .order_card{
                padding: 20px 0;
                border-bottom: 1px solid rgba($color: #000000, $alpha: 0.07);
                .detail{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 10px;
                    // margin-bottom: 10px;
                    background-color: #c19a83;
                    
                    border-bottom: 1px solid #fff;
                    @media (max-width:550px) {
                        flex-direction: column;
                        gap: 0;
                    }

                    .ids{
                        display: flex;
                        gap: 10px;
                        @media (max-width:550px) {
                            flex-direction: column;
                            align-items: center;
                            width: 100%;
                            gap: 0;
                        }
                        p{
                            
                            border-right: 1px solid #fff;
                            @media (max-width:550px) {
                                text-align: center;
                                border: none;
                                border-bottom: 1px solid #fff;
                                width: 100%;
                            }
                        }

                    }

                    p{
                    //    color: rgba($color: #000000, $alpha:0.61); 
                       line-height: 1.3;
                       font-weight: 400;
                       font-size: 15px;
                       color: #fff;;
                       padding: 10px;

                    }
                }
                table{
                        width: 100%;
                        border-collapse: collapse;
                        @media (max-width:550px) {
                            display: none;
                        }
                        // border-spacing: 10px;
                        thead{
                            background-color: #c19a83;
                            border-bottom: 1px solid rgba($color: #000000, $alpha: 0.07);
                            
                            

                            th{
                                text-align: left;
                                color: rgba($color: #000000, $alpha: 0.61);
                                font-size: 15px;
                                padding: 10px;
                                color: #fff;
                            }

                            .detail{
                                th{
                                //    color: rgba($color: #000000, $alpha:0.61); 
                                line-height: 1.3;
                                font-weight: 400;
                                font-size: 15px;

                                }
                            }

                        }

                        tbody{
                            tr{ 
                                border: 1px solid rgba($color: #000000, $alpha: 0.07);
                                td{
                                    padding: 10px;
                                    color: rgba($color: #000000, $alpha: 0.61);
                                    font-weight: 400;

                                    .cart-img{
                                        max-width: 50px;
                                    }

                                    &.product_name{
                                        color: #c19a83;
                                        font-weight: 500;
                                        transition: all .2s linear;
                                        &:hover{
                                            color: #000000;
                                            cursor: pointer;
                                        }
                                    }

                                    &.color{
                                        span{
                                            display: inline-block;
                                            width: 20px;
                                            height: 20px;
                                            border-radius: 50%;
                                        }
                                    }



                                }
                            }
                        }
                        tfoot{
                            tr{
                                border: 1px solid rgba($color: #000000, $alpha: 0.07);
                                td{
                                    padding: 15px;
                                    color: rgba($color: #000000, $alpha: 0.61);
                                    border-right: 1px solid rgba($color: #000000, $alpha: 0.07);
                                }
                            }
                        }
                    }

                .mobile{
                    .container{
                        display: flex;
                        justify-content: space-between;
                        align-items: stretch;
                        border: 1px solid rgba($color: #000000, $alpha: 0.07);
                        gap: 20px;
                        margin-bottom: 20px;
                        display: none;
                        @media (max-width:550px) {
                            display: flex;
                        }
                        @media (max-width:476px) {
                            flex-direction: column;
                        }

                        .left_col{
                            width: 10%;
                            max-width: 150px;
                            width: 100%;
                            margin: 0 auto;
                            @media (max-width:476px) {
                                width: 100%;
                            }
                        }

                        .right_col{
                            width: 90%;
                            flex-shrink: 1;
                            @media (max-width:476px) {
                                width: 100%;
                                max-width: none !important;
                            }
                        }

                        .product-image{
                            
                            min-width: 150px;
                            // height: 150px;
                            width: 100%;
                            
                            @media (max-width:476px) {
                                margin: 0 auto;
                                padding: 20px;
                                padding-bottom: 0;
                            }
                            img{
                                width: 100%;
                            }
                        }

                        .row{
                            padding: 5px;
                            border: 1px solid rgba($color: #000000, $alpha: 0.07);
                            text-align: center;
                        }


                        .product_name{
                                color: #c19a83;
                                font-weight: 500;
                                transition: all .2s linear;
                                text-align: center;
                                &:hover{
                                    color: #000000;
                                    cursor: pointer;
                                }

                                
                            }

                            .color{
                                span{
                                    display: inline-block;
                                    width: 20px;
                                    height: 20px;
                                    border-radius: 50%;
                                }
                            }
      

            }

                }



            }
        }
    }
}