.checkcout_form{
            width: 100%;
            .section_heading{
                font-size: 18px;
                padding: 20px 0 14px;
                margin: 0 0 20px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.07);
                font-weight: 700;
            
            }
            .field{
                margin-bottom: 10px;
                position: relative;
                width: calc(50% - 10px);
                input{
                    width: 100%;
                }
            }

            label{
                display: flex;
                align-items: center;
                font-size: 12px;
                position: absolute;
                background-color: #fff;
                // color: #fff;
                left: 8px;
                // padding-bottom: 2px;
            }

            input{
                // min-width: 300px;
                display: block;
                color: #666;
                padding: .75em;
                border: 1px solid rgba(0, 0, 0, 0.07);
                border-radius: 2px;
                background: #FAFAFA;
                box-shadow: none;
                transition: all .2s linear;
                width: 100%;
                margin-top: 10px;
                cursor: pointer;
            }
            .error{
                color: red;
                font-size: 12px;
                margin-top: 5px;
                // margin-bottom: 15px;
            }
            
            button{

                padding: 15px 25px;
                line-height: 1em;
                text-transform: uppercase;
                border: none;
                background-color: #000;
                color: #fff;
                transition: all .2s linear;
                cursor: pointer;
                margin-top: 10px;

                &:hover{
                    background-color: #c19a83;  
                }
            }

            .row{
                display: flex;
                justify-content: space-between;
                gap: 10px;
                width: 100%;
                &.address_70_30{
                    .field{
                        width: calc(75% - 10px);

                        &.zipcode_field{
                            width: calc(25% - 10px);
                        }
                    }
                }

                &.address_33{
                    .field{
                        width: calc(33.33% - 10px);
                    }
                }

            }

            .payment_section{
                label{
                    // position: unset;
                    width: auto;
                    gap: 5px;
                    font-size: 15px;
                    
                }
                input{
                    width: auto;
                    margin: 0;
                    
                }

                .row{
                    margin-bottom: 40px;
                }
            }

            .stripeContainer{
                margin-bottom: 40px;
            }
        
        }




        .stripeContainer {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.stripeContainer label {
    display: flex;
    align-items: center;
    font-size: 12px;
    position: absolute;
    background-color: #fff;
    left: 8px;
    padding: 0 5px;
    top: -8px;
}

.stripeContainer .field {
    display: block;
    color: #666;
    padding: 12px;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 2px;
    background: #FAFAFA;
    width: 100%;
    cursor: pointer;
    transition: all 0.2s linear;
}

.stripeContainer .field:focus {
    border-color: #000;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}
